In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
louisville_data = pd.read_csv("../raw data/Louisville_with_time_deltas.csv")

In [3]:
louisville_data.head()

,Unnamed: 0,AnimalID,AnimalType,IntakeDate,IntakeType,IntakeSubtype,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,...,ReproductiveStatusAtIntake,OutcomeDate,OutcomeType,OutcomeSubtype,OutcomeReason,OutcomeInternalStatus,OutcomeAsilomarStatus,ReproductiveStatusAtOutcome,Time from Intake to Outcome,Days from Intake to Outcome
0,0,A366370,CAT,2008-11-07 10:50:00,STRAY,OTC,WHITE,DOMESTIC SHORTHAIR,NaN,NEUTERED MALE,...,ALTERED,2008-11-12 15:46:00,EUTH,FERAL,NaN,NaN,UNHEALTHY/UNTREATABLE,ALTERED,5.205556,NaN
1,1,A366531,CAT,2008-11-10 10:20:00,STRAY,OTC,BLACK,DOMESTIC SHORTHAIR,DOMESTIC SHORTHAIR,UNKNOWN,...,UNKNOWN,2008-11-19 20:10:00,EUTH,CONTAG DIS,NaN,SICK,HEALTHY,UNKNOWN,9.409722,NaN
2,2,A532367,BIRD,2014-07-23 23:21:00,CONFISCATE,CRUELTY,RED,CHICKEN,NaN,MALE,...,FERTILE,2014-11-05 15:49:00,TRANSFER,NaN,NaN,NaN,HEALTHY,FERTILE,104.686111,NaN
3,3,A532474,OTHER,2014-07-24 18:29:00,ET REQUEST,NaN,BROWN,BAT,NaN,UNKNOWN,...,UNKNOWN,2014-07-24 23:59:00,EUTH,MEDICAL,NaN,OTHER,HEALTHY,UNKNOWN,0.229167,NaN
4,4,A281756,DOG,2006-09-11 18:10:00,OWNER SUR,OTC,WHITE,PIT BULL TERRIER,NaN,MALE,...,FERTILE,2006-09-12 13:44:00,EUTH,TIME/SPACE,NaN,NaN,HEALTHY,FERTILE,0.815278,NaN

In [5]:
#include only data for Dogs and Cats
group_by_animal_type=louisville_data.groupby(louisville_data['AnimalType'])

group_by_animal_type.count()

,Unnamed: 0,AnimalID,IntakeDate,IntakeType,IntakeSubtype,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,SecondaryColor,...,ReproductiveStatusAtIntake,OutcomeDate,OutcomeType,OutcomeSubtype,OutcomeReason,OutcomeInternalStatus,OutcomeAsilomarStatus,ReproductiveStatusAtOutcome,Time from Intake to Outcome,Days from Intake to Outcome
AnimalType,,,,,,,,,,,,,,,,,,,,,
BIRD,1184,1184,1184,1184,1181,1184,1184,69,1184,573,...,1184,1184,1175,902,0,552,1184,1184,1184,0
CAT,68212,68212,68212,68212,66977,68209,68212,2655,68212,30236,...,68212,68112,67987,58606,0,23431,68112,68112,68112,0
DOG,76687,76687,76687,76687,73663,76673,76687,37525,76687,47217,...,76687,76534,76426,61128,0,23386,76534,76534,76534,0
FERRET,91,91,91,91,91,91,91,0,91,40,...,91,91,91,74,0,30,91,91,91,0
LIVESTOCK,256,256,256,256,254,256,256,28,256,131,...,256,254,253,169,0,81,254,254,254,0
OTHER,1335,1335,1335,1335,1327,1335,1335,2,1335,714,...,1335,1333,1315,864,0,857,1333,1333,1333,0
RABBIT,1136,1136,1136,1136,1099,1136,1136,30,1136,631,...,1136,1136,1136,763,0,407,1136,1136,1136,0
REPTILE,261,261,261,261,261,261,261,26,261,167,...,261,261,260,170,0,112,261,261,261,0
RODENT,681,681,681,681,677,681,681,4,681,348,...,681,681,680,484,0,237,681,681,681,0

In [18]:
from datetime import datetime

times=[]
for row in range(0,10):
    intake_date=str(louisville_data.iloc[row,2])
    outcome_date=str(louisville_data.iloc[row,15])                 
    intake_datetime = datetime.strptime(intake_date, '%Y-%m-%d %H:%M:%S')
    outcome_datetime = datetime.strptime(outcome_date, '%Y-%m-%d %H:%M:%S')                 
    time_to_outcome=outcome_datetime-intake_datetime
    times.append(time_to_outcome)
    print(time_to_outcome)

5 days, 4:56:00
9 days, 9:50:00
104 days, 16:28:00
5:30:00
19:34:00
24 days, 8:34:00
10 days, 21:02:00
10 days, 18:52:00
4 days, 18:22:00
15 days, 20:58:00