In [18]:
import pandas as pd
import numpy as np
import datetime

In [2]:
louisville_data = pd.read_csv("../raw data/Louisville_with_time_deltas.csv")

In [3]:
louisville_data.head()

,Unnamed: 0,AnimalID,AnimalType,IntakeDate,IntakeType,IntakeSubtype,PrimaryColor,PrimaryBreed,SecondaryBreed,Gender,...,IntakeAsilomarStatus,ReproductiveStatusAtIntake,OutcomeDate,OutcomeType,OutcomeSubtype,OutcomeReason,OutcomeInternalStatus,OutcomeAsilomarStatus,ReproductiveStatusAtOutcome,Time from Intake to Outcome
0,0,A366370,CAT,2008-11-07 10:50:00,STRAY,OTC,WHITE,DOMESTIC SHORTHAIR,NaN,NEUTERED MALE,...,HEALTHY,ALTERED,2008-11-12 15:46:00,EUTH,FERAL,NaN,NaN,UNHEALTHY/UNTREATABLE,ALTERED,"5 days, 4:56:00"
1,1,A366531,CAT,2008-11-10 10:20:00,STRAY,OTC,BLACK,DOMESTIC SHORTHAIR,DOMESTIC SHORTHAIR,UNKNOWN,...,HEALTHY,UNKNOWN,2008-11-19 20:10:00,EUTH,CONTAG DIS,NaN,SICK,HEALTHY,UNKNOWN,"9 days, 9:50:00"
2,2,A532367,BIRD,2014-07-23 23:21:00,CONFISCATE,CRUELTY,RED,CHICKEN,NaN,MALE,...,HEALTHY,FERTILE,2014-11-05 15:49:00,TRANSFER,NaN,NaN,NaN,HEALTHY,FERTILE,"104 days, 16:28:00"
3,3,A532474,OTHER,2014-07-24 18:29:00,ET REQUEST,NaN,BROWN,BAT,NaN,UNKNOWN,...,HEALTHY,UNKNOWN,2014-07-24 23:59:00,EUTH,MEDICAL,NaN,OTHER,HEALTHY,UNKNOWN,5:30:00
4,4,A281756,DOG,2006-09-11 18:10:00,OWNER SUR,OTC,WHITE,PIT BULL TERRIER,NaN,MALE,...,HEALTHY,FERTILE,2006-09-12 13:44:00,EUTH,TIME/SPACE,NaN,NaN,HEALTHY,FERTILE,19:34:00

In [29]:
#average time from intake to outcome by Dog vs Cat

#group_by_animal_type=louisville_data.groupby(louisville_data['AnimalType'])

#np.mean(louisville_data['Time from Intake to Outcome'])

from dateutil import parser

timedelta = louisville_data['Time from Intake to Outcome'][0]

parser.parse(timedelta)

ValueError: Unknown string format

In [18]:
from datetime import datetime

times=[]
for row in range(0,10):
    intake_date=str(louisville_data.iloc[row,2])
    outcome_date=str(louisville_data.iloc[row,15])                 
    intake_datetime = datetime.strptime(intake_date, '%Y-%m-%d %H:%M:%S')
    outcome_datetime = datetime.strptime(outcome_date, '%Y-%m-%d %H:%M:%S')                 
    time_to_outcome=outcome_datetime-intake_datetime
    times.append(time_to_outcome)
    print(time_to_outcome)

5 days, 4:56:00
9 days, 9:50:00
104 days, 16:28:00
5:30:00
19:34:00
24 days, 8:34:00
10 days, 21:02:00
10 days, 18:52:00
4 days, 18:22:00
15 days, 20:58:00

In [27]:
np.std(times)

TypeError: unsupported operand type(s) for *: 'datetime.timedelta' and 'datetime.timedelta'