In [1]:
# General Data analysis

In [2]:
# Dependencies
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt

In [12]:
# Set filepaths
csv_filepath1 = "raw data/MergedData.csv"

In [13]:
# Read the csv files into new dataframe
CatDogData_df = pd.read_csv(csv_filepath1, encoding="iso-8859-1", low_memory=False)
CatDogData_df.head()

,Animal ID,Name_intake,DateTime_intake,Found Location,Intake Type,Intake Condition,Animal Type_intake,Sex upon Intake,Age upon Intake,Breed_intake,...,Breed_outcome,Color_outcome,Sex_outcome,Female_outcome,Male_outcome,SpayNeuter_outcome,Purebred_outcome,NumAge_outcome,AgeUnits_outcome,AgeDays_outcome
0,A748291,*Madison,05/01/2017 02:26:00 PM,S Pleasant Valley Rd And E Riverside Dr in Aus...,Stray,Normal,Dog,Intact Female,10 months,Pit Bull Mix,...,Pit Bull Mix,Black,Female,1.0,0.0,Yes,0,1.0,year,365.0
1,A750529,NaN,05/28/2017 01:22:00 PM,8312 North Ih 35 in Austin (TX),Stray,Normal,Dog,Intact Female,5 months,Miniature Schnauzer Mix,...,Miniature Schnauzer Mix,White/Cream,Female,1.0,0.0,Yes,0,5.0,month,150.0
2,A730601,NaN,07/07/2016 12:11:00 PM,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,7 months,Domestic Shorthair Mix,...,Domestic Shorthair Mix,Blue Tabby,Male,0.0,1.0,Yes,0,7.0,month,210.0
3,A748238,NaN,05/01/2017 10:53:00 AM,Airport Blvd And Oak Springs Dr in Austin (TX),Stray,Normal,Dog,Intact Male,3 years,Bichon Frise Mix,...,Bichon Frise Mix,White,Male,0.0,1.0,Yes,0,3.0,year,1095.0
4,A683644,*Zoey,07/13/2014 11:02:00 AM,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,4 weeks,Border Collie Mix,...,Border Collie Mix,Brown/White,Female,1.0,0.0,Yes,0,4.0,month,120.0

In [14]:
print(CatDogData_df.columns)

Index(['Animal ID', 'Name_intake', 'DateTime_intake', 'Found Location',
       'Intake Type', 'Intake Condition', 'Animal Type_intake',
       'Sex upon Intake', 'Age upon Intake', 'Breed_intake', 'Color_intake',
       'Sex_intake', 'Female_intake', 'Male_intake', 'SpayNeuter_intake',
       'Purebred_intake', 'NumAge_intake', 'AgeUnits_intake', 'AgeDays_intake',
       'Name_outcome', 'DateTime_outcome', 'Date of Birth', 'Outcome Type',
       'Outcome Subtype', 'Animal Type_outcome', 'Sex upon Outcome',
       'Age upon Outcome', 'Breed_outcome', 'Color_outcome', 'Sex_outcome',
       'Female_outcome', 'Male_outcome', 'SpayNeuter_outcome',
       'Purebred_outcome', 'NumAge_outcome', 'AgeUnits_outcome',
       'AgeDays_outcome'],
      dtype='object')

In [15]:
#Filter for only Dogs and Cats
#animalData_df = animalData_df.loc[animalData_df["Animal Type_intake"].isin(["Dog","Cat"])]

In [16]:
# Get metrics on the raw outcomes file
CatDogData_df.describe()

,Female_intake,Male_intake,Purebred_intake,NumAge_intake,AgeDays_intake,Female_outcome,Male_outcome,Purebred_outcome,NumAge_outcome,AgeDays_outcome
count,57592.000000,57592.000000,57593.000000,57593.000000,57593.000000,57591.000000,57591.000000,57593.000000,57588.000000,57593.000000
mean,0.462425,0.490294,0.048947,3.457382,742.241818,0.462416,0.490302,0.048947,3.557599,756.069627
std,0.498590,0.499910,0.215759,2.936187,1087.364762,0.498590,0.499910,0.215759,2.929233,1089.431333
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,1.000000,30.000000,0.000000,0.000000,0.000000,2.000000,60.000000
50%,0.000000,0.000000,0.000000,2.000000,365.000000,0.000000,0.000000,0.000000,2.000000,365.000000
75%,1.000000,1.000000,0.000000,4.000000,730.000000,1.000000,1.000000,0.000000,5.000000,730.000000
max,1.000000,1.000000,1.000000,22.000000,8030.000000,1.000000,1.000000,1.000000,22.000000,8030.000000

In [17]:
#Metrics cont'd
data_recs = len(CatDogData_df)
data_AnimalTypes = CatDogData_df.groupby(["Animal Type_intake"]).size()
data_Sex = CatDogData_df.groupby(["Animal Type_intake", "Sex_intake"]).size()
data_Intake = CatDogData_df.groupby(["Animal Type_intake", "Intake Type"]).size()
data_Outcome = CatDogData_df.groupby(["Animal Type_intake", "Outcome Type"]).size()

print(f"Number of records in Outcomes file: {data_recs}")
print(f"Number of Animal Type: {data_AnimalTypes}")
print(f"Number of Animals by Type and Sex: {data_Sex}")
print(f"Number of Animals by Type and Intake Reason: {data_Intake}")
print(f"Number of Animals by Type and Outcome: {data_Outcome}")

Number of records in Outcomes file: 57593
Number of Animal Type: Animal Type_intake
Cat    25896
Dog    31697
dtype: int64
Number of Animals by Type and Sex: Animal Type_intake  Sex_intake
Cat                 Female         11909
                    Male           11474
                    Unknown Sex     2513
Dog                 Female         14723
                    Male           16763
                    Unknown Sex      210
dtype: int64
Number of Animals by Type and Intake Reason: Animal Type_intake  Intake Type
Cat                 Euthanasia Request       50
                    Owner Surrender        4313
                    Public Assist           558
                    Stray                 20975
Dog                 Euthanasia Request      169
                    Owner Surrender        4913
                    Public Assist          2736
                    Stray                 23879
dtype: int64
Number of Animals by Type and Outcome: Animal Type_intake  Outcome Type
Cat                 Adoption           10508
                    Died                 376
                    Disposal              12
                    Euthanasia          1390
                    Missing               26
                    Return to Owner     1121
                    Rto-Adopt             17
                    Transfer           12446
Dog                 Adoption           13830
                    Died                 128
                    Disposal              10
                    Euthanasia          1262
                    Missing               11
                    Return to Owner     8375
                    Rto-Adopt             63
                    Transfer            8016
dtype: int64

In [21]:
CatDogData_df["DateTime_intake"] = pd.to_datetime(CatDogData_df["DateTime_intake"])

In [23]:
CatDogData_df["IntakeMo"]= CatDogData_df["DateTime_intake"].dt.month

In [24]:
CatDogData_df.head()

,Animal ID,Name_intake,DateTime_intake,Found Location,Intake Type,Intake Condition,Animal Type_intake,Sex upon Intake,Age upon Intake,Breed_intake,...,Color_outcome,Sex_outcome,Female_outcome,Male_outcome,SpayNeuter_outcome,Purebred_outcome,NumAge_outcome,AgeUnits_outcome,AgeDays_outcome,IntakeMo
0,A748291,*Madison,2017-05-01 14:26:00,S Pleasant Valley Rd And E Riverside Dr in Aus...,Stray,Normal,Dog,Intact Female,10 months,Pit Bull Mix,...,Black,Female,1.0,0.0,Yes,0,1.0,year,365.0,5
1,A750529,NaN,2017-05-28 13:22:00,8312 North Ih 35 in Austin (TX),Stray,Normal,Dog,Intact Female,5 months,Miniature Schnauzer Mix,...,White/Cream,Female,1.0,0.0,Yes,0,5.0,month,150.0,5
2,A730601,NaN,2016-07-07 12:11:00,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,7 months,Domestic Shorthair Mix,...,Blue Tabby,Male,0.0,1.0,Yes,0,7.0,month,210.0,7
3,A748238,NaN,2017-05-01 10:53:00,Airport Blvd And Oak Springs Dr in Austin (TX),Stray,Normal,Dog,Intact Male,3 years,Bichon Frise Mix,...,White,Male,0.0,1.0,Yes,0,3.0,year,1095.0,5
4,A683644,*Zoey,2014-07-13 11:02:00,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,4 weeks,Border Collie Mix,...,Brown/White,Female,1.0,0.0,Yes,0,4.0,month,120.0,7