In [1]:
# General Data analysis

In [2]:
# Dependencies
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt

In [3]:
# Set filepaths
csv_filepath1 = "raw data/MergedData.csv"

In [5]:
# Read the csv files into new dataframe
CatDogData_df = pd.read_csv(csv_filepath1, encoding="iso-8859-1", low_memory=False)
CatDogData_df.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A748291,*Madison,05/01/2017 02:26:00 PM,05/01/2017 02:26:00 PM,S Pleasant Valley Rd And E Riverside Dr in Aus...,Stray,Normal,Dog,Intact Female,10 months,Pit Bull Mix,Black
1,A750529,NaN,05/28/2017 01:22:00 PM,05/28/2017 01:22:00 PM,8312 North Ih 35 in Austin (TX),Stray,Normal,Dog,Intact Female,5 months,Miniature Schnauzer Mix,White/Cream
2,A730601,NaN,07/07/2016 12:11:00 PM,07/07/2016 12:11:00 PM,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,7 months,Domestic Shorthair Mix,Blue Tabby
3,A748238,NaN,05/01/2017 10:53:00 AM,05/01/2017 10:53:00 AM,Airport Blvd And Oak Springs Dr in Austin (TX),Stray,Normal,Dog,Intact Male,3 years,Bichon Frise Mix,White
4,A683644,*Zoey,07/13/2014 11:02:00 AM,07/13/2014 11:02:00 AM,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,4 weeks,Border Collie Mix,Brown/White

In [26]:
print(CatDogData_df.columns)

Index(['Animal ID', 'Name_intake', 'DateTime_intake', 'Found Location',
       'Intake Type', 'Intake Condition', 'Animal Type_intake',
       'Sex upon Intake', 'Age upon Intake', 'Breed_intake', 'Color_intake',
       'Sex_intake', 'Female_intake', 'Male_intake', 'SpayNeuter_intake',
       'Purebred_intake', 'NumAge_intake', 'AgeUnits_intake', 'AgeDays_intake',
       'Name_outcome', 'DateTime_outcome', 'Date of Birth', 'Outcome Type',
       'Outcome Subtype', 'Animal Type_outcome', 'Sex upon Outcome',
       'Age upon Outcome', 'Breed_outcome', 'Color_outcome', 'Sex_outcome',
       'Female_outcome', 'Male_outcome', 'SpayNeuter_outcome',
       'Purebred_outcome', 'NumAge_outcome', 'AgeUnits_outcome',
       'AgeDays_outcome'],
      dtype='object')

In [30]:
#Filter for only Dogs and Cats
#animalData_df = animalData_df.loc[animalData_df["Animal Type_intake"].isin(["Dog","Cat"])]
len(animalData_df)

57593

In [32]:
# Get metrics on the raw outcomes file
CatDogData_df.describe()

             Female          Male      Purebred        NumAge       AgeDays
count  75506.000000  75506.000000  75508.000000  75502.000000  75508.000000
mean       0.437767      0.476492      0.067198      3.528211    772.159175
std        0.496115      0.499450      0.250367      2.901128   1052.357298
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      2.000000     90.000000
50%        0.000000      0.000000      0.000000      2.000000    365.000000
75%        1.000000      1.000000      0.000000      5.000000   1095.000000
max        1.000000      1.000000      1.000000     25.000000   9125.000000

In [33]:
#Metrics cont'd
data_recs = len(CatDogData_df)
data_AnimalTypes = CatDogData_df.groupby(["Animal Type_intake"]).size()
data_Sex = CatDogData_df.groupby(["Animal Type_intake", "Sex_intake"]).size()
data_Intake = CatDogData_df.groupby(["Animal Type_intake", "Intake Type"]).size()
data_Outcome = CatDogData_df.groupby(["Animal Type_intake", "Outcome Type"]).size()

print(f"Number of records in Outcomes file: {data_recs}")
print(f"Number of Animal Type: {data_AnimalTypes}")
print(f"Number of Animals by Type and Sex: {data_AnimalSex}")
print(f"Number of Animals by Type and Intake Reason: {data_AnimalIntake}")
print(f"Number of Animals by Type and Outcome: {data_AnimalOutcome}")

Number of records in Outcomes file: 57593
Number of Animal Type: Animal Type_intake
Cat    25896
Dog    31697
dtype: int64
Number of Animals by Type and Sex: Animal Type_intake  Sex_intake
Cat                 Female         11909
                    Male           11474
                    Unknown Sex     2513
Dog                 Female         14723
                    Male           16763
                    Unknown Sex      210
dtype: int64
Number of Animals by Type and Intake Reason: Animal Type_intake  Intake Type
Cat                 Euthanasia Request       50
                    Owner Surrender        4313
                    Public Assist           558
                    Stray                 20975
Dog                 Euthanasia Request      169
                    Owner Surrender        4913
                    Public Assist          2736
                    Stray                 23879
dtype: int64
Number of Animals by Type and Outcome: Animal Type_intake  Outcome Type
Cat                 Adoption           10508
                    Died                 376
                    Disposal              12
                    Euthanasia          1390
                    Missing               26
                    Return to Owner     1121
                    Rto-Adopt             17
                    Transfer           12446
Dog                 Adoption           13830
                    Died                 128
                    Disposal              10
                    Euthanasia          1262
                    Missing               11
                    Return to Owner     8375
                    Rto-Adopt             63
                    Transfer            8016
dtype: int64